<%= form_for(@administrator) do |f| %>
  <fieldset id="first-admin">
    <div class="clearfix">
      <%= f.label :username, "Username:" %>
      <div class="input">
        <%= f.text_field :username %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password, "Password:" %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation, "Confirm:" %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :email, "Email:" %>
      <div class="input">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :firstname, "First Name:" %>
      <div class="input">
        <%= f.text_field :firstname %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :lastname, "Last Name:" %>
      <div class="input">
        <%= f.text_field :lastname %>
      </div>
    </div>
  </fieldset>
  <%= f.hidden_field :is_superadmin, :value => 1 %>
  <div class="actions">
    <%= f.submit "Continue", :class => "btn primary" %>
  </div>
<% end %>

