<header>
  <nav>
    <ul>
      <li><%= link_to "Home", "" %></li>
      <li><%= link_to "Texts", "" %></li>
      <li><%= link_to "Studies", "" %></li>
      <li><%= link_to "Researchers", "" %></li>
      <li><%= link_to "Subjects", "" %></li>
      <li><%= link_to "Tags", "" %></li>
    </ul>
    <div id="current_administrator">
      <span><%= current_administrator.username %></span>
      <span> | </span>
      <span><%= link_to "Logout", signout_path , :id => 'logout' %></span>
    </div>
  </nav>
</header>
