<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/css_js' %>
</head>
<body>

  <div id="container">

    <div id="top-matter">

      <%= render 'layouts/title' %>
      <%= render 'layouts/header' %>

    </div>

    <section>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>

  </div>

</body>
</html>
